/* ROOT variables */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;

  --text-color: var(--color-black);
}

/* Body */
body {
  color: var(--text-color);
}

/* Links */
a {
  color: var(--text-color);
}

/* Card category */
.card-category {
  color: var(--color-primary);
}

/* Section tagline */
.section-tagline {
  color: var(--color-primary);
}
/* Root variables */
:root {
  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Body */
body {
  font-family: var(--font-family-base);
}

/* All headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
}